# Örnek Veritabanı ve Güvenlik Ayarları
# Bu dosyayı .env olarak kopyalayıp kendi şifrelerinizi yazınız.

DATABASE_URL=postgresql://kullanici_adi:sifre@localhost:5434/cop31_db
SECRET_KEY=buraya_guclu_ve_rastgele_bir_jwt_gizli_anahtari_yaziniz
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
PORT=8000
